body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
	margin:0;
	padding:0;
}
ul,ol,li{
	list-style: none;
}
a{
	text-decoration:none;
}
img{
	border:none;
	display: block;
}
body{
	font-family: "微软雅黑";
	display: -webkit-flex;
    -webkit-flex-direction:column;
    /* background: #0066ff; */
}
section{
    flex:1;
	overflow-y: auto;
}
html,body{
	height: 100%;
}
html{
	font-size: 26.67vw;
}
header{
    width: 100%;
    height: .5rem;
    background: #11bf79;
}
h2{
    height: .5rem;
    font-size: 16px;
    color: #666;
    text-align: center;
    line-height: .5rem;
}
.s_1{
	width: 100%;
	height:.1rem ;
	background: rgb(224, 224, 224);
}
.s_2{
	width: 100%;
	height: 1.6rem;
	background: #900;
	display: flex;
	align-items: center;
	justify-content: center;
}
.s_3{
	width: 89%;
    height: 87%;
	background: #666;
	display: flex;
	justify-content: space-between;
}
.s_l{
	width:40% ;
	height: 100%;
	background: chartreuse;
	display: flex;
	justify-content: center;
	align-items: center;
}
.s_r{
	width:55% ;
	height: 100%;
	background: yellow;
}
.s_4{
	width: 90%;
	height:90%;
}
.s_r1{
	margin-top: .15rem;
	display: block;
	width: 100%;
	height: 25%;
	font-size: 11px;
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
	overflow: hidden;
	margin-bottom: .15rem;
	color: rgb(143, 141, 141);
}
.s_r2{
	display:block;

	font-size: 16px;
	color: red;
}
.s_r3{
	display: inline-block;
	color: red;
	font-size: 11px;
}